In [8]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [9]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [10]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [11]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [12]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [13]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [14]:
num=int(input("enter a number:"))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

enter a number:143
143 x 1 = 143
143 x 2 = 286
143 x 3 = 429
143 x 4 = 572
143 x 5 = 715
143 x 6 = 858
143 x 7 = 1001
143 x 8 = 1144
143 x 9 = 1287
143 x 10 = 1430